.navbar-default {
  background-color: lightgrey;
  border: 1px solid lightgrey;
  position: relative;
}

.navbar-default .navbar-brand {
  color: black;
}

.navbar-default .navbar-toggle {
  border-color: black;
}

.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-default .navbar-toggle:active .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: white;
}

.row {
  height: 1000px;
  background-color: lightgrey;
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow-y: auto;
    background-color: white;
    z-index: 1000;
  }
  .navbar-collapse .nav li a {
    color: black;
    display: block;
    padding: 15px;
    border-bottom: 1px solid grey;
  }
  .row {
    height: 1000px;
    background-color: lightgrey;
    margin-left: 30px;
    margin-right: 30px;
  }
}
